@import 'assets/styles/mixins';


.font{
  word-spacing: 1px;
  line-height: 1.7em !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
  text-shadow: rgb(0 0 0 / 1%) 0 0 1px !important;
  &--standard{
    font-size: 16px !important;
    @include phones{
      font-size: 14px;
    }
  }
  &--larger{
    font-size: 18px !important;
  @include lowresmonitors{
    font-size: 16px;
  }
  }
  &--xlarge{
    font-size: 24px !important;
  }
  &--center{
    @include lowresmonitors{
      text-align: center;
    }
  }
}

